<?xml version="1.0"?>
<config>
    <modules>
        <MageModule_Customerprice>
            <version>0.7.2</version>
        </MageModule_Customerprice>
    </modules>
    
    <admin>
        <fieldsets>
            <catalog_product_dataflow>
                <customer_price>
                    <internal>1</internal>
                </customer_price>
            </catalog_product_dataflow>
        </fieldsets>
    </admin>
    
    
    <adminhtml>
            <translate>
                <modules>
                    <MageModule_Customerprice>
                        <files>
                            <default>MageModule_Customerprice.csv</default>
                        </files>
                    </MageModule_Customerprice>
                </modules>
            </translate>
    </adminhtml>
    
    <global>
    
        <helpers>
            <customerprice>
                <class>MageModule_Customerprice_Helper</class>
            </customerprice>
        </helpers>

        <models>
            <customerprice>
                <class>MageModule_Customerprice_Model</class>
                <resourceModel>customerprice_resource</resourceModel>
            </customerprice>
            <customer>
                <rewrite>
                    <customer>MageModule_Customerprice_Model_Customer</customer>
                    <attribute>MageModule_Customerprice_Model_Customerattribute</attribute>
                </rewrite>
            </customer>
            <customer_entity>
                <rewrite>
                    <customer>MageModule_Customerprice_Model_CustomerEntity</customer>
                </rewrite>
            </customer_entity>
            <customerprice_resource>
                <class>MageModule_Customerprice_Model_Catalog_Resource_Eav_Mysql4</class>
            </customerprice_resource>
            <catalog>
                <rewrite>
                    <product_type_configurable_attribute>MageModule_Customerprice_Model_Catalog_ConfProductAttribute</product_type_configurable_attribute>
                    <product>MageModule_Customerprice_Model_Catalog_Product</product>
                </rewrite>
                <catalog_product_attribute_backend_customerprice>
                    <class>MageModule_Customerprice_Model_Catalog_Product_Attribute_Backend_Customerprice</class>
                </catalog_product_attribute_backend_customerprice>
            </catalog>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <product_collection>MageModule_Customerprice_Model_Catalog_Resource_Eav_Mysql4_Product_Collection</product_collection>
                </rewrite>
                <entities>
                    <product_attribute_customer_price>
                        <table>catalog_product_entity_customer_price</table>
                    </product_attribute_customer_price>
                </entities>
            </catalog_resource_eav_mysql4>


            <catalog_resource>
                <rewrite>
                    <layer_filter_price>MageModule_Customerprice_Model_PriceFilter</layer_filter_price>
                </rewrite>
            </catalog_resource>

            <catalogsearch_mysql4>
                <rewrite>
                    <fulltext_collection>MageModule_Customerprice_Model_CatalogSearch_Mysql4_Fulltext_Collection</fulltext_collection>
                </rewrite>
            </catalogsearch_mysql4>
        </models>
        <resources>
            <customerprice_setup>
                <setup>
                    <module>MageModule_Customerprice</module>
                    <class>MageModule_Customerprice_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerprice_setup>
            <customerprice_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerprice_write>
            <customerprice_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerprice_read>
        </resources>

        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_action_attribute_tab_attributes>MageModule_Customerprice_Block_Adminhtml_Catalog_Product_Edit_Action_Attribute_Tab_Attributes</catalog_product_edit_action_attribute_tab_attributes>
                    <catalog_product_edit_tab_attributes>MageModule_Customerprice_Block_Adminhtml_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
                    <catalog_product_edit_tab_price>MageModule_Customerprice_Block_Adminhtml_Catalog_Product_Edit_Tab_Price</catalog_product_edit_tab_price>
                    <customer_edit_tab_account>MageModule_Customerprice_Block_Adminhtml_Customer_Edit_Tab_Account</customer_edit_tab_account>
                    <customer_grid>MageModule_Customerprice_Block_Customer_Grid</customer_grid>
                </rewrite>
            </adminhtml>
            <gridrenderer>MageModule_Customerprice_Block_Gridrenderer</gridrenderer>
            <customerprice_adminhtml>
                <class>MageModule_Customerprice_Block_Adminhtml</class>
            </customerprice_adminhtml>
            <wishlist>
                <rewrite>
                    <customer_wishlist>MageModule_Customerprice_Block_Wishlist</customer_wishlist>
                </rewrite>
            </wishlist>
        </blocks>

        <events>
			<adminhtml_catalog_product_edit_prepare_form>
				<observers>
					<addcustomerprices>
						<type>singleton</type>
						<class>MageModule_Customerprice_Model_Catalog_Price_AddCustomerPrice</class>
						<method>addCustomerPrice</method>
					</addcustomerprices>
				</observers>
			</adminhtml_catalog_product_edit_prepare_form>

            <customer_save_before>
                <observers>
                    <customerid>
                        <type>singleton</type>
                        <class>MageModule_Customerprice_Model_CustomerObserver</class>
                        <method>customerSaveBefore</method>
                    </customerid>
                    <customerprice>
                        <type>singleton</type>
                        <class>MageModule_Customerprice_Model_Customer_Observer</class>
                        <method>customerSaveBefore</method>
                    </customerprice>
                </observers>
            </customer_save_before>
            <customer_load_after>
                <observers>
                    <customerid>
                        <type>singleton</type>
                        <class>MageModule_Customerprice_Model_CustomerObserver</class>
                        <method>customerLoadAfter</method>
                    </customerid>
                </observers>
            </customer_load_after>

            <catalog_product_get_final_price>
                <observers>
                    <customerprice_catalog_price_observer>
                        <type>singleton</type>
                        <class>MageModule_Customerprice_Model_Catalog_Price_Observer</class>
                        <method>apply_customerprice</method>
                    </customerprice_catalog_price_observer>
                </observers>
            </catalog_product_get_final_price>

            <catalog_product_save_before>
                <observers>
                    <customerprice>
                        <type>singleton</type>
                        <class>MageModule_Customerprice_Model_Catalog_Product_Observer</class>
                        <method>productSaveBefore</method>
                    </customerprice>
                </observers>
            </catalog_product_save_before>
        </events>
    </global>
</config>
