<?xml version="1.0"?>
<config>
	<modules>
		<Webkochshop_HelloWorld>
			<version>0.1.1</version>
		</Webkochshop_HelloWorld>
	</modules>
	<global>
		<models>
			<catalog>
				<rewrite>
					<product>Webkochshop_HelloWorld_Model_Catalog_Product</product>
				</rewrite>
			</catalog>
		</models>
		<helpers>
			<helloworld>
				<class>Webkochshop_HelloWorld_Helper</class>
			</helloworld>
		</helpers>
		<resources>
			<helloworld_setup>
				<setup>
					<module>Webkochshop_HelloWorld</module>
					<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
			</helloworld_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<helloworld>
				<use>standard</use>
				<args>
					<module>Webkochshop_HelloWorld</module>
					<frontName>helloworld</frontName>
				</args>
			</helloworld>
			<checkout>
				<args>
					<modules>
						<helloworld before="Mage_Checkout">Webkochshop_HelloWorld_Checkout</helloworld>
					</modules>
				</args>
			</checkout>
		</routers>
		<layout>
			<updates>
				<helloworld>
					<file>helloworld.xml</file>
				</helloworld>
			</updates>
		</layout>
	</frontend>
</config>